{{#list_page}}
  <ul>
    {{#products}}
      <li>
        <a href="/{{url}}">
          {{#primary_image}}
            <img src="{{url-100}}" />
          {{/primary_image}}
          {{title}}
        </a>
      </li>
    {{/products}}
  </ul>
{{/list_page}}
