{{#product_page}}
  <article>
    {{#product}}
      <h1>{{title}}</h1>
      {{#primary_image}}
        <img src="{{url-500}}" />
      {{/primary_image}}
    {{/product}}
  </article>
{{/product_page}}
